{% extends "web/base.html" %} 
{% load static %} 

{% block content %}
<div class="col-md-8 d-flex">
  <div class="card w-100 shadow-sm border-0">
    <div class="card-header card-header-custom">
      <i class="fas fa-book-reader me-2"></i>Reading on ...
    </div>
    <div class="card-body">
        <h4 id="newsDetailTitle" class="mb-3">All Events</h4>
        <ul class="list-unstyled news-bulletin">
          {% for news in global_featured_news %}
          <li class="mb-3">
            <div class="d-flex">
              <div class="me-3">
                <i
                  class="fas {% if news.category == 'sports' %}fa-trophy text-warning {% elif news.category == 'academic' %}fa-book text-success {% elif news.category == 'events' %}fa-clipboard-list text-success {% elif news.category == 'health' %}fa-heartbeat text-danger {% else %}fa-newspaper text-info{% endif %} bg-light p-2 rounded-circle"
                ></i>
              </div>
              <div>
                <a
                  href="{% url 'news_detail' news.slug %}"
                  class="text-decoration-none"
                >
                  <h6 class="mb-1 heading">{{ news.title }}</h6>
                </a>
                <p class="small text-muted mb-0">
                  {{ news.excerpt|truncatewords:15 }}
                </p>
                <small class="text-muted">
                  <i class="far fa-clock me-1"></i>
                  {{ news.publish_date|timesince }} ago
                  {% if news.is_featured %}
                  <span class="badge bg-warning ms-2 blink" style="animation-delay: {{ forloop.counter0|add:"0.2"|floatformat:1 }}s">
                    <i class="fas fa-star me-1"></i>New
                  </span>
                  {% endif %}
                </small>
              </div>
            </div>
          </li>
          {% empty %}
          <li class="text-center text-muted py-3">
            No news events available
          </li>
          {% endfor %}
        </ul>
        <div class="d-flex justify-content-center">
          <a
            href="{% url 'events' %}"
            class="btn btn-outline-success btn-sm"
          >
            <i class="fas fa-list me-1"></i> View All Events
          </a>
        </div>
      </div>
  </div>
</div>
{% endblock content %}
